:root {
    --color1: #333;
    --color2: #111;
    --color3: #044faa;
    --color4: #0049a3;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    background-image: url("/images/nightcafe.jpg");
    background-size: cover;
    
}
p {
    color:rgb(221, 221, 221);
}
section > img,
section > button,
section > a {
  width: 50%;
  display: inline-block;
  padding: 20px;
}

/* Nav bar styling across all pages */

nav ul {
    background-color: var(--color1);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

nav li {
    float: left;
}

nav li a {
    font-size: 55px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: var(--color4);
}

.active {
    background-color: var(--color3);
}

footer {
    position: absolute;
    bottom:0;
    background-color: rgba(192, 145, 153, 0.541);
    text-align: center;
    width: 100vw;
}

.flex-grid {
    display: flex;
}
.col {
    flex: 1;
}
