<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>The Cuisine Scene</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

<div th:replace="fragments.html :: nav"></div>

<header>
    <div class="title-flex">
        <h1>Cuisines</h1>
    </div>
</header>

<div class="cuisines-flex">
    <div class="cuisines" th:each="cuisine: ${cuisines}">
        <img th:src="${cuisine.imgUrl}" width="300" height="185">
        <a class="cuisine-name" th:href="'/cuisines/' + ${cuisine.id}" th:text="${cuisine.foodType}"></a>
    </div>
</div>




<div th:replace="fragments.html :: footer"></div>
</body>

</html>