<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>The Cuisine Scene</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

    <nav>
    <ul>
        <li>
            <a class="active" href="/">Cuisines</a>
        </li>
        <li>
            <a href="/hashtags.html">Hashtags</a>
        </li>
    </ul>
    </nav>

<header>
    <div class="title-flex">
        <h1>Cuisines</h1>
    </div>
</header>

<div class="cuisines-flex">
    <div class="cuisines">

        <div th:each="cuisine: ${cuisines}">
            <a th:href="'/cuisines/' + ${cuisine.id}" th:text="${cuisine.foodType}"></a>
            <img th:src="${cuisine.imgUrl}" width="300" height="185">
        </div>
    </div>
</div>




<div th:replace="fragments.html :: footer"></div>
</body>

</html>