<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title th:text="${hashtag.name}">Name</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div th:replace="fragments.html :: nav"></div>

<header>
  <div class="title-flex">
    <h1>Hashtags</h1>
  </div>
</header>


<div class="hashtags-flex">
  <div class="hashtags">
    <div th:each="hashtag: ${hashtag.restaurants}">
      <a th:href="'/hashtags/' + ${hashtag.id}" th:text="${hashtag.name}"></a>
    </div>
  </div>
</div>

</body>

</html>