<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${review.rating}">Name</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1 th:text="${review.rating}"></h1>
<ul>
    <li th:each="restaurant: ${review.restaurants}">
        <a th:text="${restaurant.name}" th:href="'/restaurants/' + ${restaurant.id}"></a>
</ul>
    <form action="restaurants/add" method="POST">
          <input type="text" name="title" />
          <button type="submit">Submit</button>
    </form>
</body>
</html>