<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${review.rating}">Name</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div th:replace="fragments.html :: nav"></div>

<div class="title-flex">
    <h1 th:text="${review.rating}"></h1>
</div>

<div class="restaurants-flex">
    <div class="restaurants" th:each="review: ${review.restaurants}">
        <img th:src="${review.imgUrl}" width="300" height="185">
        <a class="restaurant-name" th:href="'/restaurants/' + ${review.id}" th:text="${review.name}"></a>
    </div>
</div>

<ul>
    <li th:each="restaurant: ${review.restaurants}">
        <a th:text="${restaurant.name}" th:href="'/restaurants/' + ${restaurant.id}"></a>
</ul>

<div th:replace="fragments.html :: footer"></div>

</body>
</html>